<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Processing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../static/css/usebootstrap.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../static/js/html5shiv.js"></script>
      <script src="../static/js/respond.min.js"></script>
    <![endif]-->

    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Processing</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
		  <ul class="nav navbar-nav navbar-right">
            <li><a href="https://arsf-dan.nerc.ac.uk/" target="_blank">ARSF</a></li>
		  </ul>
        </div>
      </div>
    </div>
    <div class = "container">
      {% block content %}
      {% endblock %}
    </div>
  </body>