{% extends "_base.html" %}
{% block header %}
<script type="text/javascript" src="static/js/jquery.js"></script>
<script>
$( document).ready(function(){
    console.log('ready');
});
</script>
{% endblock %}
{% block content %}
<div class="row">
<h1>Submit processing job for Project Code: {{ project_code }} Julian Day: {{ julian_day }} Year: {{ year }} </h1>
</div>
<form class="form-horizontal" action="progress" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <legend>General</legend>
                <fieldset>
                    <div class="col-lg-15 has-warning" id="email_section">
                        <div class="form-row">
                            <div class="col-md-6">
                                <p>
                                    This is the job request page for day {{ julian_day }}, it can be used to create processing requests for the ARSF-DAN grid. The system will aim to get data to you as quickly as possible however timings will depend on system load. Most options have been <strong>preset with optimum values</strong> where appropriate, once your jobs have completed their processing you will receive an email detailing download instructions.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <p>Your data will be sent to this email address so please be sure it is correct and you have access to it!</p>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-3">
                                        <label for="email" class="control-label">Email address</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="email" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" onblur="checkEmailField(this);" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                    <table class="table table-striped table-hover table-fixed header-fixed">
                    <thead>
                        <tr>
                            <th width=2%><input type="checkbox" id="all_lines_check" name="process_all_lines" checked=""></th>
                            <th width=21%>Process</th>
                            <th width=43%>Flightline name</th>
                            <th width=33%>Band groups</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in flightlines %}
                        <tr>
                            <td width=2%><input type="checkbox" id="line_checkboxes" name="{{ line.name }}_line_check" checked=""></td>
                            <td width=21%>&nbsp</td>
                            <td width=43%>{{ line.name }}</td>
                            <td width=33%>
                                <table>
                                    <td>Start </td>
                                    <td>
                                        <select class="form-control-small" id="{{ line.name }}_band_start" onchange="checkBandValue('{{ line.name }}_band_start', '{{ line.name }}_band_stop')" name="{{ line.name }}_band_start">
                                            {% for band in line.bands %}
                                            <option>{{ band }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>End</td>
                                    <td>
                                        <select class="form-control-small" id="{{ line.name }}_band_stop" onchange="checkBandValue('{{ line.name }}_band_start', '{{ line.name }}_band_stop')" name="{{ line.name }}_band_stop">
                                            {% for band in line.bands %}
                                            <option {% if band == line.bandsmax %}selected=''{% endif %}>{{ band }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </div>
                    <script>
                        $("#all_lines_check").change(function () {
                            $("#line_checks_container :checkbox").prop('checked', $(this).prop('checked'));
                        });

                        $("#line_checks_container :checkbox").change(function () {
                            if ($("#all_lines_check").prop('checked') == true) {
                                $("#all_lines_check").prop('checked', $(this).prop("checked"));
                            }
                        });
                    </script>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
                <fieldset>
                    <legend>Masking</legend>
                    <div class="form-group">
                        <div>
                           <div class="checkbox">
                                <p>Selecting "mask all" will apply bad pixel masking techniques. For a full explanation of the masking techniques that will be used see the masking <a href="https://arsf-dan.nerc.ac.uk/trac/wiki/FAQ/aplmask">wiki page</a>.</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                        <label>
                                            <input type="checkbox" id="mask_all_check" name="mask_all_check"  checked=""> Mask all
                                        </label>
                                        </div>
                                        <div class="col-lg-6">
                                        <label>
                                            <input type="checkbox" id="mask_none_check" name="mask_none_check" > Mask none
                                        </label>
                                        </div>
                                    </div>
                                    </div>
                                <script>
                                    $("#mask_all_check").change(function () {
                                        $("#mask_none_check").prop('checked', false);
                                    });
                                    $("#mask_none_check").change(function () {
                                        $("#mask_all_check").prop('checked', false);
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well bs-component">
                <fieldset>
                    <legend>Geocorrection</legend>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <p>Set the height model to use for geocorrection, more information can be found about ASTER and SRTM at their respective websites. If uploading your own file please refer <a href="https://arsf-dan.nerc.ac.uk/trac/wiki/FAQ/apldemformat">here</a> for format information.</p>
                            <label>Select elevation model or upload your own</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsDemRadios" id="optionsDemRadios1" value="aster" checked="">
                                    ASTER
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsDemRadios" id="optionsDemRadios2" value="srtm">
                                    SRTM
                                </label>
                            </div>
                           <div class="radio">
                                <label>
                                    <input type="radio" name="optionsDemRadios" id="optionsDemRadios3" value="upload" disabled="">
                                    Upload your own
                                </label>
                                <span class="btn btn-default btn-sm btn-file" disabled="">
                                    Browse&hellip;
                                    <input type="file">
                                </span>
                           </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
                <fieldset>
                    <legend>Projection</legend>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Select Projection</label>
                            <p>Choose your output projection format, or specify a PROJ.4 string. The correct UTM grid zone has been preselected for you.</p>
                            <div class="radio">
                                <label>
                                    {% if utmzone %}
                                    <input type="radio" name="projectionRadios" id="optionsProjRadios3" value="{{ utmzone }}" {% if not uk %}checked=""{% endif %}>
                                    {{ utmzone }}
                                    {% else %}
                                    <input type="radio" name="projectionRadios" id="optionsProjRadios3" value="utm" checked="">
                                    utm
                                    {% endif %}
                                </label>
                            </div>
                            {% if uk %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="projectionRadios" id="optionsProjRadios3" value="UKBNG" checked="">
                                    UKBNG
                                </label>
                            </div>
                            {% endif %}
                            <div class="radio">
                                    <div class="form-row">
                                        <input type="radio" name="projectionRadios" id="optionsProjRadios3" value="proj_string" disabled="">
                                        <label for="projStringText" class="control-label">Proj string</label>
                                        <input class="form-control" type="text" name="projString" id="projStringText" placeholder="proj" disabled="">
                                    </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well bs-component">
                <fieldset>
                    <legend>Gridding</legend>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="form-row">

                                <p>Select your pixel size, note that the size of pixels will affect output file size. The optimum size for the altitude of your data has already been selected.</p>
                                <label for="pixel_size_x" class="col-lg-3 control-label">Pixel Size X:</label>
                                <div class="col-lg-3">
                                    <select class="col-lg-3 form-control" id="pixel_size_x" name="pixel_size_x">
                                        {% for size in pixel_sizes %}
                                        <option {% if size == optimal_pixel %}selected{% endif %}>{{ size }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <label for="pixel_size_y" class="col-lg-1 control-label">Y:</label>
                                <div class="col-lg-3">
                                    <select class="col-lg-3 form-control" id="pixel_size_y" name="pixel_size_y">
                                        {% for size in pixel_sizes %}
                                        <option {% if size == optimal_pixel %}selected{% endif %}>{{ size }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                </div>
                            <div class="row">
                                <p>&nbsp</p>
                            </div>
                            <div class="form-row">
                                <label>Bounding</label>
                                <p>Input a bounding box for data processing, this must be inside the data coverage area. Default values cover your flightline area so only change this if you want to subset the data.</p>
                                <div class="row">
                                    <label for="bound_n" class="col-lg-1 control-label">N:</label>
                                    <div class="col-lg-5" id="bound_n_cont">
                                        <input type="number" pattern="[1-9]" step="0.00001" class="form-control" id="bound_n" name="bound_n" onblur="checkBoundingText(this)" value={{ bounds.n }} >
                                    </div>
                                    <label for="bound_s" class="col-lg-1 control-label">S:</label>
                                    <div class="col-lg-5" id="bound_s_cont">
                                        <input type="number" pattern="[1-9]" step="0.00001"  class="form-control" id="bound_s" name="bound_s" onblur="checkBoundingText(this)" value={{ bounds.s }}>
                                    </div>
                                    <label for="bound_e" class="col-lg-1 control-label">E:</label>
                                    <div class="col-lg-5" id="bound_e_cont">
                                        <input type="number" pattern="[1-9]" step="0.00001"  class="form-control" id="bound_e" name="bound_e" onblur="checkBoundingText(this)" value={{ bounds.e }}>
                                    </div>
                                    <label for="bound_w" pattern="[1-9]" class="col-lg-1 control-label">W:</label>
                                    <div class="col-lg-5" id="bound_w_cont">
                                        <input type="number" pattern="[1-9]" step="0.00001" class="form-control" id="bound_w" name="bound_w" onblur="checkBoundingText(this)" value={{ bounds.w }}>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                &nbsp
                            </div>
                            <div class="row">
                                <label class="col-lg-4 control-label">Select interpolation</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                <div class="radio" id="interp_radios">
                                    <label>
                                        <input type="radio" name="optionsIntRadios" id="optionsIntRadios3" value="nearest" checked="">
                                        Nearest Neighbour
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsIntRadios" id="optionsIntRadios3" value="bilinear">
                                        Bilinear
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsIntRadios" id="optionsIntRadios3" value="cubic">
                                        Cubic
                                    </label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <input type="hidden" name="julianday" value="{{ julian_day }}">
    <input type="hidden" name="sortie" value="{{ sortie }}">
    <input type="hidden" name="year" value="{{ year }}">
    <input type="hidden" name="project" value="{{ project_code }}">
    <button id="submit" type="submit" class="btn btn-primary" onsubmit="return validateForm();">Submit</button>
</form>
<script>
    function checkEmailField(field) {
        if (field.value == '') {
            $('#email_section').addClass('has-warning');
        } else if (field.value != '') {
            $('#email_section').removeClass('has-warning');
        }
        if (field.value.indexOf(".") == -1 || field.value.indexOf("@") == -1) {
            $('#email_section').addClass('has-error');
        } else if (field.value.indexOf(".") != -1 && field.value.indexOf(".") != -1){
            $('#email_section').removeClass('has-error');
        }
    }

    function checkBoundingText(field) {
        if (isNaN(field.value) == true || field.value == '') {
            document.getElementById(field.id + '_cont').classList.add('has-error');
        } else if (isNaN(field.value) != true) {
            document.getElementById(field.id + '_cont').classList.remove('has-error');
            if (field.id.indexOf('bound_n') != -1 || field.id.indexOf('bound_s') != -1) {
                if (parseFloat(document.getElementById('bound_n').value) < parseFloat(document.getElementById('bound_s').value)) {
                    document.getElementById('bound_n' + '_cont').classList.add('has-error');
                    document.getElementById('bound_s' + '_cont').classList.add('has-error');
                } else if (parseFloat(document.getElementById('bound_n').value) > parseFloat(document.getElementById('bound_s').value)) {
                    document.getElementById('bound_n' + '_cont').classList.remove('has-error');
                    document.getElementById('bound_s' + '_cont').classList.remove('has-error');
                }
            } else if (field.id.indexOf('bound_e') != -1 || field.id.indexOf('bound_w') != -1) {
                if (parseFloat(document.getElementById('bound_e').value) < parseFloat(document.getElementById('bound_w').value)) {
                    document.getElementById('bound_w' + '_cont').classList.add('has-error');
                    document.getElementById('bound_e' + '_cont').classList.add('has-error');
                } else if (parseFloat(document.getElementById('bound_e').value) > parseFloat(document.getElementById('bound_w').value)) {
                    document.getElementById('bound_w' + '_cont').classList.remove('has-error');
                    document.getElementById('bound_e' + '_cont').classList.remove('has-error');
                }
            }
        }
    }

    function checkBandValue(band1, band2) {
        if (document.getElementById(band1).selectedIndex >= document.getElementById(band2).selectedIndex) {
            document.getElementById(band2).selectedIndex = document.getElementById(band1).selectedIndex;
        }
    }

    function validateForm() {

    }
</script>
{% endblock %}
