{% extends "_base.html" %}
{% block header %}
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script>
$( document).ready(function(){
    console.log('ready');
});
</script>
<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
{% endblock %}
{% block content %}
    <div class="row well bs-component">
        <h1>Processing</h1>
        Your job has been successfully submitted, please remember to check your email inbox for the confirmation link as processing will not progress until this has been clicked.
    </div>
{% endblock %}